# Server
HOST=0.0.0.0
PORT=1337
STRAPI_ADMIN_BACKEND_URL=https://yunchuan.cc.cd

# Secrets (generate with: node -e "console.log(require('crypto').randomBytes(32).toString('base64'))")
APP_KEYS=key1base64,key2base64
API_TOKEN_SALT=saltbase64
ADMIN_JWT_SECRET=secretbase64
TRANSFER_TOKEN_SALT=saltbase64
JWT_SECRET=jwtbase64

# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=personal_website
DATABASE_USERNAME=strapi
DATABASE_PASSWORD=yourpassword
DATABASE_SSL=false

# Environment
NODE_ENV=production
